{
	username: "thisismac42",
	password: "30101997",
	spawns: [
		{
			lattitude: 48.872692, 
			longitude: 2.776447
		},
		{
			lattitude: 48.864748, 
			longitude: 2.324225
		},
		{
			lattitude: 48.847040, 
			longitude: 2.336942
		},
		{
			lattitude: 48.852599, 
			longitude: 2.350832
		},
		{
			lattitude: 48.857328, 
			longitude: 2.295734
		}
	]
}