{
	username: "",
	password: "",
	spawns: [
		{
			longitude: 48.857445,
			lattitude: 2.295771
		},
		{
			longitude: 48.846752,
			lattitude: 2.335464
		},
		{
			longitude: 48.857445,
			lattitude: 2.295771
		},
		{
			longitude: 48.857445,
			lattitude: 2.295771
		}
	]
}